streamlit==1.42.0
streamlit-image-zoom
st-clickable-images
torch==2.2.0
torchvision==0.17.0
torchmetrics==1.6.1
opencv-python==4.9.0.80
numpy==1.26.4
matplotlib==3.10.0
jupyter==1.1.1
ipykernel==6.29.5
pathlib==1.0.1
protobuf==3.20.*
kagglehub